@{
    ViewBag.Title = "Домашняя страница";
}
    <div>
        <div style="float: left; width: 600px; height:500px">
            <img width="400" height="400" src="~/picture/hello_html_m8e4974a.jpg" />
        </div>
        <div >
            <p style="float:left; font-size: 20px">Сервис построения графиков функций онлайн</p>
        </div>
    </div>
