
@{
    ViewBag.Title = "Save";
}

<h2>График сохранен</h2>
@Html.ActionLink("Вернуться к рисованию графиков", "Index", "UserDatas") |
@Html.ActionLink("Показать сохраненные графики", "ShowChart", "UserDatas")
